@font-face {
    font-family: 'Raleway';
    src: url(polices/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(polices/Raleway/Raleway-VariableFont_wght.ttf);
}





/* Agencement */


body, html{
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin: 0px; /* footer background prends toute la largeur */
    overflow-x: visible;
}

footer{
    display: flex;
    justify-content:space-between;
    padding:5px;
    line-height: 30px;
}

header{
    display: flex;
    justify-content:space-between;
    margin: 40px 10px 30px 40px;
}


::placeholder{
    font-weight: bold;
    color: #000000;
}



header img{
    height: 40px;
}

header ul{
    display: flex;
    margin-top: 0px;
}
    
header li{
    margin-right: 60px;
}
    
header li:first-child{
    color:#0065FC;
}
    
header li:last-child{
    color:#0065FC;
    font-weight: bold;
}
    
header a:hover{
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}




.filtres{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.search{
    margin-bottom: 5px;
}

.search, .filtres{
    margin-left: 40px;
}

.results{
     margin-left: 40px;
}

.economique{
    position: relative;
    right: 5px;
    top: 5px;
}
.famille{
    position: relative;
    right: 20px;
    top: 5px;
}
.romantique{
    position: relative;
    right: 35px;
    top: 5px;
}

.animaux-autorisés{
    position: relative;
    right: 50px;
    top: 5px;
}

a:link{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}


/* Search */


.search .title{
    font-weight: bold;
}

.search .description{
    display:block;
    padding-top: 7px; /* espace entre titre et description*/
    font-size: 12px;
    font-weight: normal;
}

.search form{
    position: relative;
    right: 5px;
}

.search .fa-map-marker-alt{
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    position: relative;
    left:4px;
    top:1px;
}

.search input{
    padding:9px;
    width: 155px;
    border: 1px solid #F2F2F2;
    border-left: none;
}

.search #search-icon{
    background-color: #0065FC;
}

.search #search-icon{
    padding: 10px;
    position: relative;
    right: 5px;
    top: 0px;
    color: #FFF;
    border-radius: 0px 10px 10px 0px;
    border: none;
    border-left: none;
    margin-bottom: 15px;
}

.search #search-icon:hover{
    background-color: blue;
}

.search h5{
    font-size: 15px;
    display: inline-block;
}


/* Filtres */


.cercle1{    
    padding: 10px;
    border: none;
    background-color: #DEEBFF ;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 33px;
    top: 1px;
}
.filtre{
    padding: 11px;
    width: 145px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 30px;
    font-weight: bold;
    font-size: 12px;
}

.filtre:hover, .chien:hover, .kid:hover{
    background-color: #DEEBFF;
}

.fa-child{
    position: relative;
    left: 3px;
}

.fa-heart{
    position: relative;
    left: 2px;
    top: 1px;
}

.chien{
    padding: 10px;
    width: 175px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 34px;
    font-weight: bold;
    font-size: 12px;

}

.kid{
    padding: 10px;
    width: 125px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 34px;
    font-weight: bold;
    font-size: 12px;

}

.cercle2{
    border: 2px solid #F2F2F2;
    background-color: #DEEBFF ;
    padding: 5px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    font-size: 10px;
    background-color: white;
}

.icon2{
    position: relative;
    left: 2px;
    bottom: 1px;
}

.results{
    position: relative;
    bottom: 7px;
    font-size: 14px;
}


.icon1, .icon2{
    color: #0065FC
}




/* Footer */


.about{
    width: 100%;
    background-color: #F2F2F2; 
}

footer li:first-child{
    padding-bottom: 10px;
    font-weight: bold;
}

footer li{
    line-height: 27px;
}

.third-block{
    margin-right:400px;
}



/* Article */


article{
    margin: 20px 40px 20px 40px;
}

.row1{
    display: flex;
}
.firstrow{
    display: flex;
}
.secondrow{
    display: flex;
}
.column1{
    display: flex;
}
.container2{
    display: flex;
}
.item2{
    display: flex;
    margin-bottom: 25px;
}

/* continuer code media screen -----------------------------------------------------------------------*/

.column2 img{
    height: 100px;
    width: 100px;
}

.column4 img{
    height: 100px;
    width: 100px;
}

.thridrow img{
    height: 400px;
    width: 275px;
    border-radius: 10px 10px 0px 0px;
}

.column3 img{
    height: 400px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.thridrow, .column3{
    margin-right: 25px;
    border-radius: 10px;
    background-color: #FFF;

    height: 445px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
}

.thridrow h5{
    margin-top: 10px;
    margin-left: 10px;
}

.column3 h5{
    margin-top: 10px;
    margin-left: 10px;
}

.column2a img{
    width: 300px;
    height: 205px;
    border-radius: 10px 10px 0px 0px;

}

.column2b img{
    width: 300px;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
}

.column2a{
    margin-right: 25px;
    border-radius: 10px;
    background-color: #FFF;
    height: 250px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
    margin-bottom: 40px;
}
.column2b{
    margin-right: 25px;
    border-radius: 10px;
    background-color: #FFF;
    height: 155px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
}

.column4a img{
    width: 300px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.column4b img{
    width: 300px;
    height: 136px;
    border-radius: 10px 10px 0px 0px;
}

.column4a{
    margin-right: 25px;
    border-radius: 10px;
    background-color: #FFF;
    height: 220px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
    margin-bottom: 40px;
}

.column4b{
    margin-right: 25px;
    border-radius: 10px;
    background-color: #FFF;
    height: 185px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
}


.column2 h5{
    margin-left: 10px;
    margin-top: 10px;
}

.column4 h5{
    margin-top: 10px;
    margin-left: 10px;
}






  


/* Media queries */


@media screen and (max-width:768px) 
    {
        body, html{
            overflow-x: hidden;
        }
        header{
            margin: 0;
            padding-bottom: 25px;
            border-bottom: 2px solid #F2F2F2;
        }

        header img{
            margin:20px;
        }

        .test3{
            position: relative;
            bottom: 25px;
            right: 180px;
            top: 30px;
        }

        .test2{
            position: relative;
            right: 100px;
            top: 75px;
        }

        .test1{
            position: relative;
            right: 125px;
            top: 75px;
        }

        .results{
            padding-top: 15px;
        }

        header a:hover{
            border-bottom: 2px solid #0065FC;
            border-top: none;
            padding-bottom: 10px;
        }

        .search button{
            width: 40px;
            border-radius: 10px !important;
            position: relative !important;
            right: 25px !important;
        }

        .search input{
            width: 225px;
        }

        .recherche{
            display: none;
        }

        footer{
            display: flex;
            justify-content:space-between;
            flex-direction: column;
            margin-right: 50px;
            padding:10px;
        }

        .cercle1{    
            padding: 8px;
            border: none;
            background-color: #DEEBFF ;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
            left: 33px;
            top: 1px;
        }

        .filtre{
            padding: 8px;
            width: 125px;
            border-radius: 25px;
            background-color: white;
            border: 2px solid #F2F2F2;
            padding-left: 30px;
            font-weight: bold;
            font-size: 12px;
        }
        
        .chien{
            padding: 8px;
            width: 165px;
            border-radius: 25px;
            background-color: white;
            border: 2px solid #F2F2F2;
            padding-left: 34px;
            font-weight: bold;
            font-size: 12px;
        }
        
        .kid{
            padding: 8px;
            width: 95px;
            border-radius: 25px;
            background-color: white;
            border: 2px solid #F2F2F2;
            padding-left: 34px;
            font-weight: bold;
            font-size: 12px;
        }

        .filtres{
            margin-right: -50px; /* icones alignés*/
        }

        .economique, .famille, .romantique, .animaux-autorisés{
            margin-right: -10px;
            margin-top: -10px;
        }

        .filtres h5{
            margin-top: 10px;
        }

        .row1{
            display: flex;
            flex-direction: column-reverse;
        }
        .firstrow, .secondrow, .thirdrow{
            display: flex;
            flex-direction: column;
        }
        .container2{
            display: flex;
            flex-direction: column;
        }

        article{
            margin: 0;
        }
        .column1{
            background-color: #F2F2F2;
        }









        .hebergements2 img{
            width: 125px;
            height: 130px;
            border-radius: 10px;

            margin-left: 20px;
            margin-right: 20px;
        }
        .hebergements2{
            background-color: #F2F2F2;
            padding: 20px;
            border-radius: 10px;

        }
        .item2{
            background-color: #FFF;
            border-radius: 10px;
            padding-top: 4px;
            padding-left: 4px;
            padding-right: 5px;
            box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
            margin-top: -12px;
        }
        .desc{
            margin-top: 30px;
        }
        .desc h5{
            margin-top: -20px;
        }
        .item2 p{
            margin-top: -15px;
            font-size: 12px;
        }
        .pic{
            margin-left: -20px;
        }

        .hebergements2 .stars{
            font-size: 10px;
        }
        .stars8{
            position: relative;
            top: 30px;
        }
        .stars7, .stars9{
            position: relative;
            top:45px;
        }
        .stars{
            color: #0065FC;
        }
        .stars8 .five{
            color: #F2F2F2;
        }
        .stars9 .five{
            color: #F2F2F2;
        }

        .fa-chart-line{
            margin-left: 120px;
        
        }
        .hebergements2 h3{
            margin-bottom: 25px;
        }

        
/*----------------------------------------------------------------------------*/



        .hebergements1 img{
            width: 330px;
            height: 115px;
            border-radius: 10px 10px 0px 0px;
            margin-right: 20px;
        }
        .hebergements1{
            border-radius: 10px;
            padding: 10px 20px 20px 20px;
        }

        .hebergements1 h5{
            margin-left: 15px;
            margin-top: 8px;
        }
        .item1{
            border-radius: 10px;
            padding: 3px;
            background-color: #FFF;
            margin-bottom: 15px;
            box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
        }

        .item1 h5{
            margin-top: 5px;
            margin-left: 8px;
        }
        .item1 p{
            margin-top: -13px;
            margin-left: 8px;
            font-size: 15px;
        }
        .price{
            font-weight: bold;
        }
        .hebergements1 .stars{
            font-size: 10px;
            position: relative;
            bottom: 10px;
            left: 7px;
        }
        .stars{
            color: #0065FC;
        }
        .stars1 .five{
            color: #F2F2F2;
        }
        .stars3 .five{
            color: #F2F2F2;
        }
        .stars4 .four{
            color: #F2F2F2;
        }
        .stars4  .five{
            color: #F2F2F2;
        }
        .stars5 .five{
            color: #F2F2F2;
        }







        












    }

@media screen and (min-width:768px) {
    .fa-search{
        display: none !important;
    }



    
    /* Continuer code ici ------------------------------------------------------*/


.hebergements1 img{
    width: 235px;
    height: 115px;
    border-radius: 10px 10px 0px 0px;
}
.hebergements2 img{
    width: 125px;
    height: 110px;
    border-radius: 10px;
}





.hebergements1 h3{
    margin-left: 15px;
}
.hebergements1 h5{
    margin-left: 15px;
}
.hebergements1{
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 515px;
    padding: 10px 20px 20px 20px;
    margin-right: 40px;
}






.item1{
    border-radius: 10px;
    padding: 3px;
    background-color: #FFF;
    margin: 10px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
}
.item1 h5{
    margin-top: 2px;
    margin-left: 8px;
    font-size: 10px;
}
.item1 p{
    margin-top: -13px;
    margin-left: 8px;
    font-size: 10px;
}
.price{
    font-weight: bold;
}






.hebergements1 .stars{
    font-size: 10px;
    position: relative;
    bottom: 10px;
    left: 7px;
}
.stars{
    color: #0065FC;
}
.stars1 .five{
    color: #F2F2F2;
}
.stars3 .five{
    color: #F2F2F2;
}
.stars4 .four{
    color: #F2F2F2;
}
.stars4  .five{
    color: #F2F2F2;
}
.stars5 .five{
    color: #F2F2F2;
}





.hebergements2{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    height: 505px;
}
.item2{
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 5px;
    box-shadow: 2px 2px 7px rgba(206, 206, 206, 0.947);
}
.desc{
    margin-top: 30px;
}
.desc h5{
margin-top: -20px;
}
.item2 p{
    margin-top: -15px;
    font-size: 12px;
}
.pic{
margin-right: 20px;
}







.hebergements2 .stars{
    font-size: 10px;
    position: relative;
    top: 17px;
}
.stars8 .five{
    color: #F2F2F2;
}
.stars9 .five{
    color: #F2F2F2;
}
.fa-chart-line{
    margin-left: 180px;

}
.hebergements2 h3{
    margin-bottom: 25px;
}



}