@font-face {
    font-family: 'Raleway';
    src: url(polices/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(polices/Raleway/Raleway-VariableFont_wght.ttf);
}





/*General*/

body, html{
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin:0; /* footer background prends toute la largeur */
}
header{
    display: flex;
    justify-content:space-between;
    margin-top: 45px;
    margin-right: 50px;
    margin-left: 50px;
}


footer{
    display: flex;
    justify-content:space-between;
    padding:5px;
    line-height: 30px;
}


a:link{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}




/*Search*/

.search img{
    height: 50px;
    position: relative;
    bottom: 15px;
}

.search .title{
    font-weight: bold;
}

.search .description{
    display:block;
    padding-top: 7px; /* espace entre titre et description*/
    font-size: 12px;
    font-weight: normal;
}

.search .fa-map-marker-alt{
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    position: relative;
    left:4px;
    top:1px;
}

.search input{
    padding:9px;
    width: 155px;
    border: 1px solid #F2F2F2;
    border-left: none;
}

.search #search-icon{
    background-color: #0065FC;
}

.search #search-icon{
    padding: 10px;
    position: relative;
    right: 5px;
    top: 0px;
    color: #FFF;
    border-radius: 0px 10px 10px 0px;
    border: none;
    border-left: none;
    margin-bottom: 15px;
}

.search #search-icon:hover{
    background-color: blue;
}

.search h5{
    font-size: 15px;
    display: inline-block;
}

.cercle2{
    border: none;
    background-color: #DEEBFF ;
    padding: 10px;
    border-radius: 50%;
    height: 8px;
    width: 5px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    font-size: 10px;
}

.cercle1{    
    padding: 10px;
    border: none;
    background-color: #DEEBFF ;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 33px;
    top: 1px;
}
.filtre{
    padding: 11px;
    width: 145px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 30px;
}

.filtre:hover, .animaux:hover, .familial:hover{
    background-color: #DEEBFF;
}

.fa-child{
    position: relative;
    left: 3px;
}

.fa-heart{
    position: relative;
    left: 2px;
    top: 1px;
}

.animaux{
    padding: 10px;
    width: 175px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 34px;

}

.familial{
    padding: 10px;
    width: 125px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    padding-left: 34px;

}

.icon1, .icon2{
    color: #0065FC
}





/*Sections*/

.sections ul{
    display: flex;
    margin-top: 0px;
}
    
.sections li{
    margin-right: 50px;
}
    
.sections li:first-child{
    color:#0065FC;
}
    
.sections li:last-child{
    color:#0065FC;
    font-weight: bold;
}
    
.sections a:hover{
    border-top: 2px solid #0065FC;
    padding-top: 43px;
}



/*Footer*/


.about{
    width: 100%;
    background-color: #F2F2F2; 
}

footer li:first-child{
    padding-bottom: 10px;
    font-weight: bold;
}

footer li{
    line-height: 27px;
}

.third-block{
    margin-right:400px;
}


/* Media queries */


@media screen and (max-width:990px) 
    {
    footer{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        margin-right: 50px;
        padding:10px;
    }
    .sections{
        display:none;
    }
    header{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        margin-top: 45px;
        margin-right: 50px;
        margin-left: 50px;
    }
}
